[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/smakarychev/assimp
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/smakarychev/glfw
[submodule "vendor/lz4"]
	path = vendor/lz4
	url = https://github.com/smakarychev/lz4
[submodule "vendor/meshoptimizer"]
	path = vendor/meshoptimizer
	url = https://github.com/smakarychev/meshoptimizer
[submodule "vendor/nlohmann-json"]
	path = vendor/nlohmann-json
	url = https://github.com/smakarychev/json
[submodule "vendor/tracy"]
	path = vendor/tracy
	url = https://github.com/smakarychev/tracy
[submodule "vendor/efsw"]
	path = vendor/efsw
	url = https://github.com/smakarychev/efsw
[submodule "vendor/inja"]
	path = vendor/inja
	url = https://github.com/pantor/inja.git
[submodule "vendor/tinygltf"]
	path = vendor/tinygltf
	url = https://github.com/smakarychev/tinygltf
[submodule "vendor/catch2"]
	path = vendor/catch2
	url = https://github.com/smakarychev/Catch2.git
