.idea
/bin
/bin-int
*.vcxproj
*.user
*.sln
guide.html
VulkanApp.vcxproj.filters
*.filters
VulkanRenderer/bin
VulkanRenderer/bin-int
CoreLib/bin
CoreLib/bin-int
vendor/*/bin-int
tools/*/bin
tools/*/bin-int
*.spv
*.blob
*.bin
*.sl_shader
*.tx
vendor/imgui/bin
*.stage
assets/models
tools/bin
*.generated.h
vendor/*/bin
**/Tests/bin
**/Tests/bin-int
assets/shaders/**/*.type
assets/baked
*.meta
assets/uniform_types
