.idea
/bin
/bin-int
*.vcxproj
*.user
*.sln
guide.html
VulkanApp.vcxproj.filters
*.filters
VulkanRenderer/bin
VulkanRenderer/bin-int
vendor/*/bin-int
tools/*/bin
tools/*/bin-int
*.spv
*.shader
*.blob
*.tx
vendor/imgui/bin
*.stage
